<%- include('./module/header.ejs')%>
  <div class="container-fluid">
    <div class="d-flex flex-column justify-content-center height">
      <div class="d-flex flex-column align-items-center">
        <h2 class="text-white">Adicionar Música</h2>
        <form class="formAcesso" action="/addMusic" method="POST">
          <input class="form-control mb-1" name="name" placeholder="Música">
          <input class="form-control mb-1" name="artist" placeholder="Artista">
          <input class="form-control mb-1" name="url" placeholder="URL">
          <input class="form-control mb-1" name="link" placeholder="Link">
          <button class="btn btn-primary form-control">Salvar</button>
        </form>
      </div>
    </div>
  </div>