<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar música</title>
</head>
<body>
    <form action="/" method="POST">
        <input name="music" placeholder="Música">
        <input name="name" placeholder="Nome">
        <input name="url" placeholder="URL">
        <button>Salvar</button>
    </form>

    </form>  
</body>
</html>