<%- include('./module/header.ejs')%>
    <div class="container">
        <h2 class="text-white ">Adicionar Música</h2>
     <div>
      <form action="/addMusic" method="POST">
        <input class="inputAdd" name="name" placeholder="Música">
        <input class="inputAdd" name="artist" placeholder="Artista">
        <input class="inputAdd" name="url" placeholder="URL">
        <input class="inputAdd" name="link" placeholder="Link">
        <button class="botaoSalvar">Salvar</button>
      </form>
     </div>
    </div>

</body>

</html>