<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <title>Adicionar música</title>
</head>
<body>
    <div>
        <h2>Adicione Música</h2>
     <div>
      <form action="/addMusic" method="POST">
        <input name="music" placeholder="Música">
        <input name="name" placeholder="Nome">
        <input name="url" placeholder="URL">
        <button>Salvar</button>
      </form>
     </div>
    </div>

</body>

</html>