<%- include('./module/header.ejs')%>
    <div class="pageAdd">
        <h2 class="titlePageAdd ">Adicionar Música</h2>
     <div class="add">
      <form action="/addMusic" method="POST">
        <input class="inputAdd" name="music" placeholder="Música">
        <input class="inputAdd" name="name" placeholder="Nome">
        <input class="inputAdd" name="url" placeholder="URL">
        <input class="inputAdd" name="link" placeholder="Link">
        <button class="botaoSalvar">Salvar</button>
      </form>
     </div>
    </div>

</body>

</html>