<%- include('./module/header.ejs')%>

    <div class="container-fluid">
        <div class="d-flex flex-row justify-content-center height mt-5 ">
            <div class="d-flex flex-row align-items-center">
                <a class="mr-2 " href="./addMusic">
                    <div class="btn btn-primary">Adicionar</div>
                </a>
                <a href="./deleteMusic">
                    <div class="btn btn-primary">Delete</div>
                </a>
            </div>
        </div>
    </div>