<%- include('./module/header.ejs')%>

    <div class="container-fluid">
        <h3 class="text-white d-flex justify-content-center mt-5">Gerênciar Conta</h3>
        <div class="d-flex flex-colmun justify-content-center height ">
            <div class="d-flex flex-colmun align-items-center mb-5 ">
                  <a class="mr-3 " href="./deleteMusic">
                    <div class="btn btn-primary botaoGerenciar">Delete</div>
                </a>
                <a href="./addMusic">
                    <div class="btn btn-primary botaoGerenciar">Adicionar</div>
                </a>
            </div>
        </div>
    </div>