<%- include('../module/header.ejs') %>
<body>
    <h2 class="title">Todas as músicas</h2>
    <div class='message'>
        <img class="messageImage"src="/css/image/sucesso.png" alt="sucesso">
       <h2 class="font-T messageSucesso">Adiciondo com sucesso</h2>
    </div>
</body>
</html>