<%- include('../module/header.ejs') %>

    <body>
        <h2 class="text-white">Todas as músicas</h2>
        <div class="d-flex flex-column justify-content-center height">
            <div class='d-flex flex-column align-items-center'>
                <img class="messageImage" src="/css/image/sucesso.png" alt="sucesso">
                <h2 class="text-white">Adiciondo com sucesso</h2>
            </div>
        </div>
    </body>

    </html>