<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    <title>List</title>
</head>
<body>
   <div class="form">
    <form class="form" action="/searchMusic" method="GET">
       <input name="name" placeholder="Name" required>
       <button>Pesquisar</button>
   </div> 
       <div class="container-P">
           <h2>Todas as músicas</h2>
        <div class="container">
            Música não encontrada
        </div>
       </div>
    </form>
</body>
</html>