<%- include('../module/header.ejs') %>
      
           <h2 class="title">Todas as músicas</h2>
        <div class='message'>
            <img class="messageImage"src="/css/image/warning.png" alt="error">
           <h2 class="font-T messageError">Música não encontrada</h2>
        </div>
      
</body>
</html>