<%- include('../module/header.ejs') %>
       <div>
           <h2 class="title">Todas as músicas</h2>
        <div class='error'>
            <img class="imageError"src="/css/image/warning.png" alt="error">
           <h2 class="font-T messageError">Música não encontrada</h2>
        </div>
       </div>
    </form>
</body>
</html>