<%- include('../module/header.ejs') %>

   <h2 class='text-white'>Todas as músicas</h2>
   <div class="row justify-content-center  align-items-center overflow-hidden height">
      <div >
         <img class="messageImage text-center" src="/css/image/warning.png" alt="error">
         <h2 class="text-white ">Música não encontrada</h2>
      </div>
   </div>

   </body>

   </html>