<%- include('../module/header.ejs') %>

   <h2 class='container d-flex justify-content-center text-white mt-4'>Todas as músicas</h2>
   <div class="d-flex flex-column justify-content-center height ">
      <div class="d-flex flex-column align-items-center" >
         <img class="messageImage" src="/css/image/warning.png" alt="error">
         <h2 class="text-white ml-3 ">Música não encontrada</h2>
      </div>
   </div>

   </body>

   </html>