* {
    margin: 0px;
    padding: 0px;
}
.height{
    height: 500px;
    width: 100%;
}

.width{
    height: 250px;
    width: 50%;
    position: relative;
    left: 25%;

}
.messageImage{
    width: 150px;
}

.image{
    width:300px;
    border-radius: 10px;
}

body{
    background-color: black;
}

.botaoPlay{
    position: relative;
    left: 245px;
    bottom: 50px;
    width: 50px;
}
.botaoDelete{
    position:relative;
    left: 170px;
}
.position{
    position: relative;
    left: 5vw;
}

.botao{
    position: relative;
    left: 10px
}

.formAcesso{
    width: 300px;
   
}
.background{
    background-color: rgb(24, 194, 224);
    border-radius: 10px;
}
.botaoGerenciar{
    width: 100px;
  
}
