.image{
    width:300px;
    border-radius: 10px;
}
body{
    background-color: black;
}
.botaoPlay{
    position: relative;
    left: 245px;
    bottom: 50px;
    width: 50px;
}
.position{
    position: relative;
    left: 5vw;
}
body{
    overflow-x: hidden;
}

.lupa{
    position: relative;
    left: 1px;
    width: 18px;
}
.botaoLupa{
    position: relative;
    right: 38px;
   
}

.botao{
    position: relative;
    left: 10px
}


@media (max-width: 764px){
    .botaoLupa{
        position: relative;
        left: 155px;
        bottom: 30px;
    }
    .inputAdd{
        display: block;
        width: 65%;
        margin-bottom:5px ;
        position: relative;
        top: 100px;
        left:65px
    }
    .botaoAdd{
        position: relative;
        top: 100px;
        left: 65px;
        width: 65%;
    }
    .title{
        position: relative;
        top: 50px;
        left: 55px
    }
}

    