body{
    background-color: rgb(14, 13, 13);
    overflow-x: hidden;
}
.pageHome{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
    
}
.card-Principal{
    margin: 20px;
}
.card{
    width: 300px;
    border-radius: 10px;
  
}
.card:hover{
    width: 301px;
    
}

.font-P{
   position: relative;
   bottom: 2vh;
   color: white;
   font-family: 'Roboto', sans-serif;
   
}
.font-T{
    color:white;
    font-family: 'Roboto', sans-serif; 
}
.title{
    color:white;
    font-family: 'Roboto', sans-serif; 
    margin-left: 70px;
}
.image{
    width: 24px; 
}

button{
    position: relative;
    right: 43px;
    top: 6px;
    background-color: white;
    border-top-right-radius:10px;
    border-bottom-right-radius: 10px;

    
}
.form{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;   
    position: relative;
    left: 20px;
    
}

.input{
    padding: 7px;
    border-radius: 10px;
    width: 200px;

}

.botao-play{
    float: right;
    position: relative;
    bottom: 65px;
    right: 4px;
    width: 50px;
}

.add{
   display: flex;
   flex-direction: row;
   justify-content:center ;
   align-items: center;
   
}

.pageAdd{
    position: relative;
}

.add{
    position:absolute;
    top: 30vh;
    left: 40%;
    
  
}

.titlePageAdd{
    position: relative;
    top: 20vh;
    left: 38%;
    color:white;
    font-family: 'Roboto', sans-serif; 
    margin-left: 70px;
}

.inputAdd{
    display: block;
    padding: 10px;
    margin: 5px;
    width: 120%;
}

.botaoSalvar{
    position: relative;
    left: 4%;
    width: 130%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(79, 79, 247);
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.message{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.messageImage{
    width: 150px;
    position: relative;
    top:20vh;
    left: 5vw;
}

.messageError{
    position: relative;
    top:35vh;
    right: 7vw;
   
}

.messageSucesso{
    position: relative;
    top:35vh;
    right: 8vw;
}


@media (max-width: 575.98px){
    .card{
        width: 320px;
        border-radius: 10px;
      
    }

    .card-Principal{
        margin-left: -8vw;
    }

    .add{
        position:absolute;
        top: 30vh;
        left: 15vw;
        
      
    }
    
    .titlePageAdd{
        position: relative;
        top: 20vh;
        left: 5vw;
        color:white;
        font-family: 'Roboto', sans-serif; 
        margin-left: 70px;
    }
    
    .messageImage{
        width: 150px;
        position: relative;
        top:20vh;
        left: 27vw;
    }
    
    .messageTitle{
        position: relative;
        top:38vh;
        right: 9vw;
       
    }

    .messageSucesso{
        position: relative;
        top:35vh;
        right: 7vw;
     
    }
    
}