<div class="container-fluid mt-3">
    <h2 class="text-white">Todas as músicas</h2>
    <div class="row justify-content-center mt-3">
        <% for(let i of docs) {%>
            <div class="mr-3 mb-3">
                <img class="image" src="<%=i.url%>">
                <h5 class="text-white">Musica: <%=i.name%>
                </h5>
                <div class="text-white">Artista: <%=i.artist%>
                </div>
                <a href="<%=i.link%>"><img class="botaoPlay" src="/css/image/botao-play.png"></a>
            </div>
            <%}%>
    </div>
</div>
