<body>
    <div class="container-fluid" >
        <h2 class="text-white">Todas as músicas</h2>
        <div class="d-flex flex-wrap flex-column flex-lg-row ">
            <% for(let i of docs) {%>
                <div class="ml-3 mr-1 mb-3">
                    <img class="image" src="<%=i.url%>">
                    <h5 class="text-white">Musica: <%=i.name%>
                    </h5>
                    <div class="text-white">Artista: <%=i.artist%>
                    </div>
                    <a href="<%=i.link%>"><img class="botaoPlay" src="/css/image/botao-play.png"></a>
                </div>
                <%}%>
        </div>
    </div>
</body>