
<div class="container-fluid">
    
    <h2 class="container d-flex justify-content-center text-white mt-4 ">Todas as músicas</h2>
    
    <div class="d-flex flex-row justify-content-center flex-wrap">
        
        <% for(let i of docs) {%>
            <div class=" d-flex flex-column mr-3 ml-4
          widthBorder mt-2">
                <img class="image" src="<%=i.url%>">
                <h5 class="text-white title">Musica: <%=i.name%>
                </h5>
                <div class="text-white">Artista: <%=i.artist%>
                </div>
                <a href="<%=i.link%>" target="_blank"><img class="botaoPlay" src="/css/image/botao-play.png"></a>
            </div>
            <%}%>
    </div>
</div>