<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <link href="/css/style.css" rel="stylesheet">
   <title>Músicas</title>
</head>

<body>
   <div class="container d-flex justify-content-end ">
      <form class="mr-1" action="/searchMusic" method="GET">
         <input name="artist" placeholder="Artist" required>
         <button class="botaoLupa"><img class="lupa" src="/css/image/lupa.png"></button>
      </form>
      <a href="http://localhost:3000/"><button>Inicio</button></a>
      <a href="http://localhost:3000/admin"><button>Adicionar</button></a>
   </div>